.MkPageHeader-root-5oMj, .universal-nav-ApN7, .MkContainer-header-eHoU {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(15px) !important;
  -webkit-backdrop-filter: blur(15px) !important;
}

.MkPageHeader-root-5oMj, .universal-nav-ApN7{
  background: var(--header) !important;
}

.MkContainer-header-eHoU {
  border-radius: var(--radius);
}
